*.class
**/.project
**/.classpath
**/.settings
target
**/test-output/**
**/*~
*~
.settings
bin
.project
# Package Files #
*.jar
*.war
*.ear
**/*pom.xml.releaseBackup
pom.xml.releaseBackup
release.properties

